body{
    font-family: Roboto, sans-serif; 
    margin:0px;
    line-height: 1.6;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin-bottom: 0px;;
}

.heading{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("images/image3.jpeg");
    background-position: 50% 50%;
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    background-size: cover;
}

.text-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #292d33;
    color:white;
    
}

.text-image * a{
    text-decoration: none;
    color:#adcce9;
}
.text-image * a:hover{
    text-decoration: none;
    color:#a1a1a1;
}

.text-image > .text > .title{
    color: #478ac9 !important;
}

.text-image > .text > .content > ul{
    list-style-type: "-  ";
    padding-left:20px;
    width: 100%;
}

.image-contact{
    background-image: url("images/image38.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
}

.content{
    display:flex;
    justify-content: center;
}

.fill{
    background-color: #478ac9;
}

.heading > .heading-title > h2{
    font-size: 1.25rem;
}


.heading-title{
    text-align: right;
}

.about-us {
    text-align: center;
    padding: 0px 60px;
    
}


.about-us > h2{
    color: #478ac9;
}

.about-us * p {
    margin:20px 0 25px;
    color: rgb(17, 17, 17);
}


.text-image > .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.text-image > .text * .title{
    margin-top: 0px;
}

.text-image > .image > img {
    height: 602px;
}

.text-image > .images > .image > img {
    display: table;
    height: 301px;
}

.about-us{
    width: 800px;
}

.about-us > div{
    
    padding: 0px 60px;
}

.about-us * p{
    font-weight: 300;
}


.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.image-gallery > .image{
    height: 284px;
    background-size: cover !important;
    background-position: 50% 50%;
}


img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text-image > .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
        color: white;
        background-color: #333333;
        padding: 20px 0px;
        display:flex;
        justify-content: center;
}

.text-image > .text{
    padding-left: 10px;
}

.contact {
    height: 300px;
}

.contact-info > .content{
    padding-right: 10px;
}

/*XS*/
@media screen and (max-width: 575px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .heading-title, .about-us, .image-gallery{
        width: 100%;
        margin-right:10px;
        margin-left:10px;
    }
    .heading{
        height: 300px;
    }
    .image-gallery{
        padding: 10px;
    }
    .about-us, .about-us > div{
        padding: 5px;
    }

    .text-image > .images{
        grid-template-columns: 1fr;
    }

    .text-image > .images > .image:nth-child(2n){
        display: none;
    }
}

/*SM*/
@media screen and (min-width: 575px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .heading-title, .about-us, .image-gallery{
        width: 540px;
    }
    .heading{
        height: 350px;
    }

    .text-image{
        height: 602px;
    }
    .text-image > .text{
        padding: 0px 60px;
    }
    .content > div{
        margin: 63px auto;
    }
    .contact{
        height: 720px;
    }
}
/*MD*/
@media screen and (min-width: 768px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    .heading-title, .about-us, .image-gallery{
        width: 720px;
    }
    .heading{
        height: 400px;
    }
    .image-gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }


}
/*LG*/
@media screen and (min-width: 991px){
    .heading-title, .about-us, .image-gallery{
        width: 940px;
    }
    .heading{
        height: 652px;
    }
}
/*XL*/
@media screen and (min-width: 1200px){

    .heading-title, .about-us, .text-image, .image-gallery{
        width: 1140px;
    }
    .heading{
        height: 652px;
    }

}

.heading > button{
    position: relative;
    bottom: 0;
    background-color: white;
}

.offer-button{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 30%
}

.offer-button > a{

    color: white;
}

.contact * a:not(:last-child){
    cursor: default;
}

.contact * a:hover{
    color: #adcce9;
}